body {
    --background-color: white;
    --font-color: black;
    --button-background: #dfdfdf;
    --button-background-hover: #c4c4c4;
    --button-background-hover-active: #9c9c9c;
    --button-border-color: #969696;
    --input-background: #eeeeee;
    --input-background-selected: #dddddd;
    --invalid-color: #9c0000;
    --form-border-color: #969696;
    
    background-color: var(--background-color);
    color: var(--font-color);
    font-family: "Ubuntu", sans-serif;

    height: 100%;
    width: 100%;
    overflow: auto;

    display: flex;
    flex-direction: column;
    gap: 10px;
}

@media (prefers-color-scheme: dark) {
    body {
        --background-color: #191a1b;
        --font-color: white;
        --button-background: #38383a;
        --button-background-hover: #48484b;
        --button-background-hover-active: #4d4d50;
        --button-border-color: #54595d;
        --input-background: #161618;
        --input-background-selected: #202024;
        --invalid-color: #6b0000;
        --form-border-color: #54595d;
    }
}

form {
    display: flex;
    flex-direction: column;

    gap: 15px;

    overflow: hidden;

    &.Thin {
        max-width: 400px;
    }

    label {
        p {
            margin: 0;
        }
    }

    .InputContainer {
        display: flex;
        flex-direction: row;
    }

    input {
        width: 100%;
    }

    &.Border {
        border-style: solid;
        border-width: 1px;
        border-color: var(--form-border-color);

        padding: 15px;
    }
}

button,
input[type=submit],
input[type=button] {
    background-color: var(--button-background);

    border-color: var(--button-border-color);
    border-style: solid;
    border-width: 1px;
    border-radius: 7px;

    color: var(--font-color);

    padding: 5px;

    &:hover {
        background-color: var(--button-background-hover);

        &:active {
            background-color: var(--button-background-hover-active);
        }
    }

    cursor: pointer;
}

input:not([type=submit]):not([type=button]) {
    background-color: var(--input-background);
    border-color: var(--button-border-color);
    border-style: solid;
    border-width: 1px;
    
    padding: 5px;
    
    color: var(--font-color);

    &:focus {
        background-color: var(--input-background-selected);
    }

    &:invalid {
        border-color: var(--invalid-color)
    }
}

input[type=file] {
    cursor: pointer;
}

.ValidationHint {
    display: none;    
}

*:invalid {
    .ValidationHint {
        display: none;    
    }
}